@ -184,35 +184,103 @@
                endfor
              endif
            -%}
            {% for item in search.results %}
              {% if item.object_type == 'product' %}
                {% render 'product-block', product: item, custom_aspect_ratio: chosen_product_aspect_ratio, animate: true %}
              {% elsif item.object_type == 'collection' %}
                {% render 'collection-block', collection: item, custom_aspect_ratio: chosen_collection_aspect_ratio, animate: true %}
              {% else %}
                <div class="product-block page-block" {%- render 'animation-attrs', attrs: 'data-cc-animate', always: true -%}>
                  <div class="block-inner">
                    <div class="block-inner-inner">
                      {% if item.object_type == 'article' and item.image %}
                        <div class="article-image">
                          <a href="{{ item.url }}">
                            {%- render 'image' with item.image, size_cols_mobile: 2, size_cols_desktop: section.settings.grid, custom_aspect_ratio: 1.33 -%}
                          </a>
            {%- liquid
              comment
                获取配置的排序顺序，默认：product, collection, article, page, others
              endcomment
              assign sort_order = section.settings.result_type_sort_order | default: 'product,collection,article,page,others'
              assign sort_order_array = sort_order | split: ','
              
              comment
                如果配置为空，使用默认顺序
              endcomment
              if sort_order == blank
                assign sort_order_array = 'product,collection,article,page,others' | split: ','
              endif
            -%}
            {%- comment -%}
              按照配置的顺序，依次输出不同类型的搜索结果
            {%- endcomment -%}
            {% for type in sort_order_array %}
              {% assign type_trimmed = type | strip %}
              {% if type_trimmed == 'product' %}
                {% for item in search.results %}
                  {% if item.object_type == 'product' %}
                    {% render 'product-block', product: item, custom_aspect_ratio: chosen_product_aspect_ratio, animate: true %}
                  {% endif %}
                {% endfor %}
              {% elsif type_trimmed == 'collection' %}
                {% for item in search.results %}
                  {% if item.object_type == 'collection' %}
                    {% render 'collection-block', collection: item, custom_aspect_ratio: chosen_collection_aspect_ratio, animate: true %}
                  {% endif %}
                {% endfor %}
              {% elsif type_trimmed == 'article' %}
                {% for item in search.results %}
                  {% if item.object_type == 'article' %}
                    <div class="product-block page-block" {%- render 'animation-attrs', attrs: 'data-cc-animate', always: true -%}>
                      <div class="block-inner">
                        <div class="block-inner-inner">
                          {% if item.image %}
                            <div class="article-image">
                              <a href="{{ item.url }}">
                                {%- render 'image' with item.image, size_cols_mobile: 2, size_cols_desktop: section.settings.grid, custom_aspect_ratio: 1.33 -%}
                              </a>
                            </div>
                          {% endif %}
                          <div class="text-cont">
                            <h6 class="page-block__title"><a href="{{ item.url }}">{{ item.title }}</a></h6>
                            {% unless item.image %}
                              <p>{{ item.content | strip_html | truncatewords: 20 }}</p>
                            {% endunless %}
                            <a href="{{ item.url }}" class="more">
                              <span class="beside-svg underline">{{ 'blogs.article.read_more' | t }}</span>
                              <span class="icon--small icon-natcol has-ltr-icon">{% render 'icon-chevron-right' %}</span>
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>
                  {% endif %}
                {% endfor %}
              {% elsif type_trimmed == 'page' %}
                {% for item in search.results %}
                  {% if item.object_type == 'page' %}
                    <div class="product-block page-block" {%- render 'animation-attrs', attrs: 'data-cc-animate', always: true -%}>
                      <div class="block-inner">
                        <div class="block-inner-inner">
                          <div class="text-cont">
                            <h6 class="page-block__title"><a href="{{ item.url }}">{{ item.title }}</a></h6>
                            <p>{{ item.content | strip_html | truncatewords: 20 }}</p>
                            <a href="{{ item.url }}" class="more">
                              <span class="beside-svg underline">{{ 'blogs.article.read_more' | t }}</span>
                              <span class="icon--small icon-natcol has-ltr-icon">{% render 'icon-chevron-right' %}</span>
                            </a>
                          </div>
                        </div>
                      {% endif %}
                      <div class="text-cont">
                        <h6 class="page-block__title"><a href="{{ item.url }}">{{ item.title }}</a></h6>
                        {% unless item.object_type == 'article' and item.image %}
                          <p>{{ item.content | strip_html | truncatewords: 20 }}</p>
                        {% endunless %}
                        <a href="{{ item.url }}" class="more">
                          <span class="beside-svg underline">{{ 'blogs.article.read_more' | t }}</span>
                          <span class="icon--small icon-natcol has-ltr-icon">{% render 'icon-chevron-right' %}</span>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
                  {% endif %}
                {% endfor %}
              {% elsif type_trimmed == 'others' %}
                {% for item in search.results %}
                  {% unless item.object_type == 'product' or item.object_type == 'collection' or item.object_type == 'article' or item.object_type == 'page' %}
                    <div class="product-block page-block" {%- render 'animation-attrs', attrs: 'data-cc-animate', always: true -%}>
                      <div class="block-inner">
                        <div class="block-inner-inner">
                          <div class="text-cont">
                            <h6 class="page-block__title"><a href="{{ item.url }}">{{ item.title }}</a></h6>
                            <p>{{ item.content | strip_html | truncatewords: 20 }}</p>
                            <a href="{{ item.url }}" class="more">
                              <span class="beside-svg underline">{{ 'blogs.article.read_more' | t }}</span>
                              <span class="icon--small icon-natcol has-ltr-icon">{% render 'icon-chevron-right' %}</span>
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>
                  {% endunless %}
                {% endfor %}
              {% endif %}
            {% endfor %}
          </div>
@ -362,6 +430,17 @@
      "id": "show_sort",
      "label": "Show sorting dropdown",
      "default": true
    },
    {
      "type": "header",
      "content": "Result grouping"
    },
    {
      "type": "text",
      "id": "result_type_sort_order",
      "label": "Result type sort order",
      "info": "Comma-separated list of object types in desired order. Available types: product, collection, article, page, others. Example: product,article,collection,page,others. Leave empty to use default order (product, collection, article, page, others).",
      "default": "product,collection,article,page,others"
    }
  ]
}
